:root {
  --bg-color: #1c1c1c;
  --text-color: #c3c3c3;
  --contrast-color: #e3fc52;
}

body {
  font-family: "Jost", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-flow: column;
  height: 100vh;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  padding: 24px;
}
.logo {
  margin: 0;
  line-height: 58px;
  font-weight: normal;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 64px;
}

mark {
  border: 5px solid var(--contrast-color);
  background-color: unset;
  color: inherit;
  display: inline-block;
  line-height: 0.5em;
  padding: 0px 12px 12px;
}

sup {
  font-size: 20px;
  position: absolute;
  padding-left: 12px;
  padding-right: 12px;
  background-color: var(--contrast-color);
  color: var(--bg-color);
}
